@inherits LayoutComponentBase

<div class="layout">
    <header>
        <a class="title" href="@App.HomePage">Alexander Dulemba</a>
        <nav>
            <div class="nav-item">
                <NavLink class="nav-link" href="@App.HomePage" Match="NavLinkMatch.All">
                    <span>Home</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="@App.ProjectsPage">
                    <span>Projects</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="@App.AboutMePage">
                    <span>About Me</span>
                </NavLink>
            </div>
        </nav>
    </header>
    <main>
        @Body
    </main>
</div>