.layout {
    width: 100%;
    height: 100%;
    background-color: var(--cerulean);
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main";
    
    header {
        grid-area: header;
        width: 100%;
        background-color: var(--indigo-dye);
        color: var(--celeste);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
        
        .title {
            font-weight: bold;
            font-size: 2rem;
            text-decoration: none;
            color: inherit;
        }
        
        nav {
            height: 100%;
            display: flex;
            align-items: center;
            
            > .nav-item {
                height: 100%;
                display: grid;
                place-items: center;
                padding-inline: 8px;
                
                > .nav-link {
                    color: inherit;
                    text-decoration: none;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: calc(100% + 6px);
                        left: calc(50% - 3px);
                        height: 6px;
                        width: 6px;
                        border-radius: 50%;
                        opacity: 0;
                        background-color: var(--celeste);
                        transition: opacity 0.2s ease;
                    }
                    
                    ::deep &.active {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }        
    }
    
    main {
        grid-area: main;
        width: 100%;
        color: var(--non-photo-blue);
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}