.main-layout {
  height: 100%;
  width: 100%;
  padding: var(--padding);
  padding-block-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  --header-height: 60px;
}
.main-layout > header {
  height: var(--header-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.main-layout > header > .mobile-page-navigation {
  display: none;
  pointer-events: none;
}
.main-layout > header > .social-links {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  height: 100%;
}
.main-layout > header > .social-links > a {
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  color: var(--primary-text);
}
.main-layout > main {
  width: 100%;
  height: calc(100dvh - var(--header-height) - var(--padding));
}

@media (max-width: 1380px) {
  .main-layout {
    padding: 0;
  }
  .main-layout > header {
    width: 100%;
    background-color: var(--bg);
    justify-content: space-between;
    transition: 0.2s ease all;
  }
  .main-layout > header > .mobile-page-navigation {
    padding-inline-start: var(--padding);
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-snap-type: y mandatory;
  }
  .main-layout > header > .mobile-page-navigation::-webkit-scrollbar {
    display: none;
  }
  .main-layout > header > .mobile-page-navigation > a {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: var(--primary-text);
    display: grid;
    align-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .main-layout > header > .social-links {
    padding: var(--padding);
  }
  .main-layout > main {
    height: calc(100dvh - var(--header-height));
  }
}