@using WebApp.Shared.Icons
@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <a href="#">
            <LinkedinIcon />
        </a>
        <a href="#">
            <GithubIcon />
        </a>
        <a href="#">
            <YoutubeIcon />
        </a>
    </header>
    <main>
        @Body
    </main>
</div>