.main-page {
  padding: var(--padding);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: clip;
}
.main-page > nav {
  height: 92%;
  width: 20%;
  border-left: 2px solid var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline-start: var(--padding);
}
.main-page > nav > a {
  color: var(--bg-light);
  font-size: var(--very-small-text);
  height: 48px;
  transition: 0.3s ease all;
}
.main-page > nav > a.current {
  font-size: var(--medium-text);
  color: var(--primary-text);
}
.main-page > #main-scrolling-content {
  height: 100%;
  width: 80%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.main-page > #main-scrolling-content::-webkit-scrollbar {
  display: none;
}
.main-page > #main-scrolling-content > section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  width: 100%;
  height: 100%;
}
.main-page > #main-scrolling-content > section.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "name icons" "job icons";
  position: relative;
  --scroll-hint-left-offset: calc(50% - 36px - 12dvw);
}
.main-page > #main-scrolling-content > section.home > .name {
  grid-area: name;
  align-self: flex-end;
  justify-self: flex-start;
  line-height: 108%;
  margin-block-end: 16px;
  font-size: var(--ultra-large-text);
  color: var(--primary-text);
}
.main-page > #main-scrolling-content > section.home > .job {
  grid-area: job;
  align-self: flex-start;
  justify-self: flex-start;
  margin-block-start: 16px;
  font-size: var(--large-text);
  color: var(--secondary-text);
}
.main-page > #main-scrolling-content > section.home > .programming-icons {
  grid-area: icons;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.6fr 1fr 1fr 1fr;
  grid-template-areas: "net net python python" ". css css .";
}
.main-page > #main-scrolling-content > section.home > .programming-icons > ::deep .net {
  grid-area: net;
  place-self: flex-end;
  width: 320px;
  height: 320px;
  margin-block-end: 8px;
}
.main-page > #main-scrolling-content > section.home > .programming-icons > ::deep .css {
  grid-area: css;
  justify-self: center;
  width: 280px;
  height: 280px;
}
.main-page > #main-scrolling-content > section.home > .programming-icons > ::deep .python {
  grid-area: python;
  place-self: flex-end flex-start;
  width: 240px;
  height: 240px;
}
.main-page > #main-scrolling-content > section.home > .scroll-hint {
  position: absolute;
  width: 76px;
  display: grid;
  place-items: center;
  color: var(--tertiary-text);
  bottom: 16px;
  left: var(--scroll-hint-left-offset);
  font-size: 14px;
}
.main-page > #main-scrolling-content > section.home > .scroll-hint > ::deep .icon {
  margin-block-start: 4px;
  width: 28px;
  height: 28px;
}
.main-page > #main-scrolling-content > section.projects {
  display: flex;
}
.main-page > #main-scrolling-content > section.projects > .cards-container {
  width: 100%;
  display: flex;
  gap: calc(var(--padding) * 2);
  scroll-snap-type: x mandatory;
}
.main-page > #main-scrolling-content > section.projects > .cards-container > ::deep .project-card {
  max-width: 400px;
  max-height: 400px;
}
.main-page > #main-scrolling-content > section.projects > .projects-placeholder {
  margin: auto;
  font-size: var(--large-text);
  color: var(--primary-text);
}
.main-page > #main-scrolling-content > section.about-me {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12%;
}
.main-page > #main-scrolling-content > section.about-me > ::deep .my-info {
  height: 88dvh;
  max-height: 640px;
  width: 44%;
  padding: calc(var(--padding) * 2);
}
.main-page > #main-scrolling-content > section.about-me > ::deep .my-info > p {
  font-size: var(--medium-text);
  margin-block-end: 16px;
}
.main-page > #main-scrolling-content > section.about-me > ::deep .my-info > button {
  font-size: var(--small-text);
}
.main-page > #main-scrolling-content > section.about-me > ::deep .my-info > button > .icon {
  width: 24px;
  height: 24px;
}
.main-page > #main-scrolling-content > section.about-me > ::deep .contact-me {
  gap: 32px;
  align-items: center;
  padding: calc(var(--padding) * 2);
}
.main-page > #main-scrolling-content > section.about-me > ::deep .contact-me > h2 {
  font-size: var(--large-text);
}
.main-page > #main-scrolling-content > section.about-me > ::deep .contact-me > a {
  border-radius: var(--border-radius);
  background-color: var(--bg-light);
  font-size: var(--small-text);
}

@media (max-width: 1380px) {
  .main-page {
    padding: 0;
  }
  .main-page > nav {
    display: none;
  }
  .main-page > #main-scrolling-content {
    width: 100%;
  }
  .main-page > #main-scrolling-content > section.home {
    grid-template-rows: calc(32% - 24px) auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "job" "icons";
    --scroll-hint-left-offset: 12dvw;
  }
  .main-page > #main-scrolling-content > section.home > .name {
    padding-inline: calc(var(--padding) * 2);
    font-size: var(--very-large-text);
    text-align: center;
    word-wrap: anywhere;
    justify-self: center;
  }
  .main-page > #main-scrolling-content > section.home > .job {
    font-size: var(--medium-text);
    text-align: center;
    place-self: center;
  }
  .main-page > #main-scrolling-content > section.home > .programming-icons > ::deep .net {
    width: 180px;
    height: 180px;
  }
  .main-page > #main-scrolling-content > section.home > .programming-icons > ::deep .css {
    width: 140px;
    height: 140px;
  }
  .main-page > #main-scrolling-content > section.home > .programming-icons > ::deep .python {
    width: 100px;
    height: 100px;
  }
  .main-page > #main-scrolling-content > section.home > .scroll-hint {
    bottom: 64px;
  }
  .main-page > #main-scrolling-content > section.projects > .projects-placeholder {
    font-size: var(--medium-text);
    padding-inline: calc(var(--padding) * 2);
    text-align: center;
  }
  .main-page > #main-scrolling-content > section.about-me {
    flex-direction: column;
    padding: calc(var(--padding) * 2) var(--padding) calc(var(--padding) * 4) var(--padding);
    gap: 24px;
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .my-info {
    height: auto;
    flex-grow: 3;
    width: 88%;
    align-items: center;
    padding: var(--padding);
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .my-info > p {
    font-size: var(--small-text);
    text-align: center;
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .my-info > button {
    margin-block-start: 8px;
    font-size: var(--small-text);
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .my-info > button > .icon {
    width: 20px;
    height: 20px;
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .contact-me {
    flex-grow: 1;
    gap: 16px;
    padding: var(--padding);
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .contact-me > h2 {
    font-size: var(--medium-text);
  }
  .main-page > #main-scrolling-content > section.about-me > ::deep .contact-me > a {
    font-size: var(--small-text);
  }
}