@using WebApp.Shared.Icons
@attribute [Route(App.MainPage)]

<div class="main-page">
    <nav>
        <a class="current">&lt;Home /&gt;</a>
        <a class="">&lt;Projects /&gt;</a>
        <a class="">&lt;AboutMe /&gt;</a>
    </nav>
    <div class="scrolling-content">
        <section class="home">
            <h1 class="name">Alexander Dulemba</h1>
            <h3 class="job">Full-stack developer</h3>
            <div class="programming-icons">
                <CSharpIcon />
                <PythonIcon />
                <CssIcon />
            </div>
        </section>
        <section class="projects">
            <h2>@CurrentProjectTitle</h2>
            <div class="cards-container">
                <Card Class="project-card">
                
                </Card>
            </div>
        </section>
        <section class="about-me">
            <Card Class="my-info">
                <p>
                    I’m a full-stack software developer with 4+ years of experience, 
                    primarily in the <span class="net">.NET</span> ecosystem but also with <span class="python">Python</span>. 
                </p>
                <p>
                    I’ve worked on web and desktop projects using <span class="net">Blazor</span> and React, 
                    helped design/build micro-service and monolith apps, 
                    and gathered/implemented customer requirements.
                </p>
                <p>
                    I’m passionate about building great software 
                    that gives a meaningful impact to people who use it.
                </p>
                <button @onclick="@HandleResumeDownloadAsync">
                    <span>Download my resume</span>
                    <DownloadIcon />
                </button>
            </Card>
            <Card Class="contact-me">
                <h2>Contact Me</h2>
                <a href="mailto:olekdulemba@gmail.com">Click here to send me an email 📧</a>
            </Card>
        </section>
    </div>
</div>

@code {
    private string CurrentProjectTitle { get; set; } = "Project Title";

    private async Task HandleResumeDownloadAsync()
    {
        
    }
}