.main-page {
    padding: var(--padding);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: clip;

    > nav {
        height: 92%;
        width: 20%;
        border-left: 2px solid var(--bg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline-start: var(--padding);

        > a {
            color: var(--bg-light);
            font-size: var(--very-small-text);
            height: 48px;
            transition: 0.3s ease all;

            &.current {
                font-size: var(--medium-text);
                color: var(--primary-text);
            }
        }
    }

    > #main-scrolling-content {
        height: 100%;
        width: 80%;
        overflow: scroll;
        scroll-snap-type: y mandatory;
		scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        > section {
            scroll-snap-align: center;
            scroll-snap-stop: always;
            width: 100%;
            height: 100%;

            &.home {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas:
                    "name icons" 
                    "job icons";
                position: relative;
                --scroll-hint-left-offset: calc(50% - 36px - 12dvw);

                > .name {
					grid-area: name;
                    align-self: flex-end;
                    justify-self: flex-start;
                    line-height: 108%;
                    margin-block-end: 16px;
					font-size: var(--ultra-large-text);
					color: var(--primary-text);
                }

                > .job {
					grid-area: job;
                    align-self: flex-start;
                    justify-self: flex-start;
                    margin-block-start: 16px;
					font-size: var(--large-text);
					color: var(--secondary-text);

					> .typewriter {
						margin-inline-start: 4px;
						
						&::before {
							content: "";
							color: inherit;
							animation: typewrite 10s linear infinite forwards;
							font: inherit;
						}

						&::after {
							display: inline-block;
							content: "";
							width: 12px;
							border-bottom: 3px solid currentColor;
							animation: cursor-blink 0.8s linear infinite;
							font: inherit;
						}

						@keyframes typewrite {
							0%, 100% {
								content: "";
							}

							4%, 96% {
								content: "d";
							}

							8%, 92% {
								content: "de";
							}

							12%, 88% {
								content: "dev";
							}

							16%, 84% {
								content: "deve";
							}

							20%, 80% {
								content: "devel";
							}

							24%, 76% {
								content: "develo";
							}

							28%, 72% {
								content: "develop";
							}

							32%, 68% {
								content: "develope";
							}

							36%, 64% {
								content: "developer";
							}
						}

						@keyframes cursor-blink {
							0%, 100% {
								opacity: 0;
							}

							50% {
								opacity: 1;
							}
						}
					}
                }

                > .programming-icons {
                    grid-area: icons;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1.6fr 1fr 1fr 1fr;
                    grid-template-areas:
                        "net net python python"
                        ". css css .";

                    > ::deep .net {
                        grid-area: net;
                        place-self: flex-end;
                        width: 320px;
                        height: 320px;
                        margin-block-end: 8px;
                    }

                    > ::deep .css {
                        grid-area: css;
                        justify-self: center;
                        width: 280px;
                        height: 280px;
                    }

                    > ::deep .python {
                        grid-area: python;
                        place-self: flex-end flex-start;
                        width: 240px;
                        height: 240px;
                    }
                }

                > .scroll-hint {
                    position: absolute;
                    width: 76px;
                    display: grid;
                    place-items: center;
                    color: var(--tertiary-text);
                    bottom: 16px;
                    left: var(--scroll-hint-left-offset);
                    font-size: 14px;

                    > ::deep .icon {
                        margin-block-start: 4px;
                        width: 28px;
                        height: 28px;
                    }
                }
            }

            &.projects {
                display: flex;

                > .cards-container {
                    width: 100%;
                    display: flex;
                    gap: calc(var(--padding) * 2);
                    scroll-snap-type: x mandatory;

                    > ::deep .project-card {
                        max-width: 400px;
                        max-height: 400px;
                    }
                }

                > .projects-placeholder {
                    margin: auto;
                    font-size: var(--large-text);
                    color: var(--primary-text);
                }
            }

            &.about-me {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12%;

                > ::deep .my-info {
                    height: 88dvh;
                    max-height: 640px;
                    width: 44%;
					padding: calc(var(--padding) * 2);

                    > p {
                        font-size: var(--medium-text);
                        margin-block-end: 16px;
                    }

					> button {
						font-size: var(--small-text);

						> .icon {
							width: 24px;
							height: 24px;
						}
					}
                }

                > ::deep .contact-me {
                    gap: 32px;
                    align-items: center;
					padding: calc(var(--padding) * 2);

                    > h2 {
                        font-size: var(--large-text);
                    }

                    > a {
                        border-radius: var(--border-radius);
                        background-color: var(--bg-light);
						font-size: var(--small-text);
                    }
                }
            }
        }
    }
}

@media (max-width: 1380px) {
    .main-page {
        padding: 0;

        > nav {
            display: none;
        }

        > #main-scrolling-content {
            width: 100%;

            > section {
                &.home {
                    grid-template-rows: calc(32% - 24px) auto 1fr;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        "name" 
                        "job" 
                        "icons";
                    --scroll-hint-left-offset: 12dvw;

                    > .name {
                        padding-inline: calc(var(--padding) * 2);
                        font-size: var(--very-large-text);
                        text-align: center;
                        word-wrap: anywhere;
                        justify-self: center;
                    }

                    > .job {
                        font-size: var(--medium-text);
                        text-align: center;
                        place-self: center;
                    }

                    > .programming-icons {
                        > ::deep .net {
                            width: 180px;
                            height: 180px;
                        }

                        > ::deep .css {
                            width: 140px;
                            height: 140px;
                        }

                        > ::deep .python {
                            width: 100px;
                            height: 100px;
                        }
                    }

                    > .scroll-hint {
                        bottom: 64px;
                    }
                }

                &.projects {
                    > .projects-placeholder {
                        font-size: var(--medium-text);
                        padding-inline: calc(var(--padding) * 2);
                        text-align: center;
                    }
                }

                &.about-me {
                    flex-direction: column;
                    padding: calc(var(--padding) * 2) var(--padding) calc(var(--padding) * 4) var(--padding);
                    gap: 24px;

                    > ::deep .my-info {
                        height: auto;
						flex-grow: 3;
                        width: 88%;
                        align-items: center;
						padding: var(--padding);

                        > p {
                            font-size: var(--small-text);
                            text-align: center;
                        }

                        > button {
                            margin-block-start: 8px;
							font-size: var(--small-text);

                            > .icon {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    > ::deep .contact-me {
						flex-grow: 1;
						gap: 16px;
						padding: var(--padding);

                        > h2 {
                            font-size: var(--medium-text);
                        }

						> a {
							font-size: var(--small-text);
						}
                    }
                }
            }
        }
    }
}