@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using WebApp.Shared.Icons

@attribute [Route(App.MainPage)]

<PageTitle>Alexander Dulemba</PageTitle>

<div class="main-page">
    <nav>
        <a class="home-link current">&lt;Home /&gt;</a>
        <a class="projects-link">&lt;Projects /&gt;</a>
        <a class="about-me-link">&lt;AboutMe /&gt;</a>
    </nav>
    <div id="main-scrolling-content">
        <section class="home">
            <h1 class="name">Alexander Dulemba</h1>
            <h3 class="job">Full-stack developer</h3>
            <div class="programming-icons">
                <CSharpIcon />
                <PythonIcon />
                <CssIcon />
            </div>
        </section>
        <section class="projects">
            @if (Features.ShowProjects)
            {
                <h2>@CurrentProjectTitle</h2>
                <div class="cards-container">
                    <Card Class="project-card">
                
                    </Card>
                    <Card Class="project-card">
                    
                    </Card>
                    <Card Class="project-card">

                    </Card>
                </div>
            }
            else
            {
                <p class="projects-placeholder">Showcase projects will be added soon. Stay tuned!</p>
            }
        </section>
        <section class="about-me">
            <Card Class="my-info">
                <p>
                    I am a full-stack software developer with 4+ years of experience, 
                    primarily in the <span class="net">.NET</span> ecosystem but also with <span class="python">Python</span>. 
                </p>
                <p>
                    I have worked on web and desktop projects using <span class="net">Blazor</span> and React, 
                    helped design/build micro-service and monolith apps, 
                    and gathered/implemented customer requirements.
                </p>
                <p>
                    I am passionate about building great software 
                    that gives a meaningful impact to people who use it.
                </p>
                <button @onclick="@HandleResumeDownloadAsync">
                    <span>Download my resume</span>
                    <DownloadIcon />
                </button>
            </Card>
            <Card Class="contact-me">
                <h2>Contact Me</h2>
                <a href="mailto:olekdulemba@gmail.com">Send me an email 📧</a>
            </Card>
        </section>
    </div>
</div>

@code {
    [Inject] private IJSRuntime JsRuntime { get; set; } = default!;

    private string CurrentProjectTitle { get; set; } = "Project Title";
    private const string ResourceName = "WebApp.Resources.AlexanderDulemba_Resume.pdf";
    private const string DefaultFileName = "AlexanderDulemba_Resume.pdf";

    protected override async Task OnInitializedAsync()
    {
        await SetupJsAnimationsAsync();
    }

    private async Task HandleResumeDownloadAsync()
    {
        if (Module is null) return;

        await Module.DownloadResumeAsync(JsRuntime, ResourceName, DefaultFileName);
    }
}