@attribute [Route(App.AboutMePage)]

<PageTitle>About Me</PageTitle>

<h1>Hi! My name is Alexander Dulemba. I'm a software developer experienced in building web applications, especially in the .NET tech stack.</h1>

@code {
    
}